<odoo>
<menuitem id="tmf685_root" name="TMF685 Resource Pool" parent="tmf_product_catalog.menu_tmf_root" sequence="50"/>

  <menuitem id="tmf685_capacity_spec_menu" name="Capacity Specification" parent="tmf685_root" action="action_tmf_capacity_specification"/>
  <menuitem id="tmf685_pool_spec_menu" name="Resource Pool Specification" parent="tmf685_root" action="action_tmf_resource_pool_specification"/>
  <menuitem id="tmf685_pool_menu" name="Resource Pool" parent="tmf685_root" action="action_tmf_resource_pool"/>
  <menuitem id="tmf685_sub_menu" name="Pool Subresources" parent="tmf685_root" sequence="60"/>
  <menuitem id="tmf685_push_menu" name="Push" parent="tmf685_sub_menu" action="action_tmf_resource_pool_push"/>
  <menuitem id="tmf685_extract_menu" name="Extract" parent="tmf685_sub_menu" action="action_tmf_resource_pool_extract"/>
  <menuitem id="tmf685_avail_menu" name="Availability Check" parent="tmf685_sub_menu" action="action_tmf_resource_pool_availability_check"/>
</odoo>
